.readMore_btn {
  padding: 12px 24px !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid #ccc !important;
  background-color: #fff;
}

.readMore_btn:hover {
  background-color: #ccc !important;
}

.blogDetails {
  padding: 0 10px 10px 10px;
  text-align: start;
}

.blogDetails h5 span {
  opacity: 0.60;
}

.blogFooter {
  display: flex;
  justify-content: space-between;
}

.blogComments {
  font-size: 15px;
  line-height: 1.5;
}

.blogComments span {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.previewBody {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.previewBody img {
  height: 200px;
}