.tagsContainer {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    text-align: start;
    padding-bottom: 0;
}

.tagsHeading {
    padding: 8px 16px;
}

.tagsList {
    color: #000;
    background-color: #f1f1f1;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 12px;
}

.tagsBody {
    background-color: #fff;
    padding: 0 16px;
}

.tagsList:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 6px
}