body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.main_layout{
    background-color: #f1f1f1;
    
}
.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.headTag{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.header{
    padding: 32px 0;
}
.blogPage{
    display: flex;
}
.blogEntry{
    width: 66%;
    margin: 16px;
}
.SideLayout{
    width: 33%;
    margin: 16px;
}
