.cardContainer{
    display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
   background-color: #fff;
  }
  .cardDetails{
  padding: 0 10px 10px 10px;
text-align: start;
  }